<div class="ts-wrapper" id="testimonial">
     <p class="section-label">what people are saying</p>
  <h2 class="section-heading">Testimonial</h2>
  <div class="ts-track-container active" id="testimonialContainer">
    <div class="ts-track" id="track"></div>
  </div>
  <div class="ts-controls">
    <div class="ts-dots" id="dots" aria-label="Testimonial navigation dots"></div>
    <div class="ts-arrows">
      <button class="ts-btn" id="prev" aria-label="Previous testimonial">
        <img src="../../images/icons/chevron_backward.png" alt="Previous">
      </button>
      <button class="ts-btn" id="next" aria-label="Next testimonial">
        <img src="../../images/icons/chevron_forward.png" alt="Next">
      </button>
    </div>
  </div>
</div>
